@charset "UTF-8";

:root {
    --w: 300px;
    --h: 300px;
    --gradColor01: #ffab3c;
}

#mainBadge {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 44%;
    left: 50%;
    width: 100%;
    opacity: 1.0;
    transition: 2.0s;
}

#mainBadge._hide {
    top: 58%;
    opacity: .0;
}

.clipmask {
    position: relative;
    overflow: hidden;
    width: auto;
    background: var(--white);
    -webkit-mask-image: url('./../img/badge_clip_mask.svg');
    mask-image: url('./../img/badge_clip_mask.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#mainBadge .clipmask {
    width: 300px;
    animation: animRotate 2.0s linear 1;
}

@keyframes animRotate {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        transform: rotateY(180deg);
    }

    40%,
    100% {
        transform: rotateY(0deg);
    }
}

.clipmask::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 102%;
    height: 102%;
    background-image: url('./../img/badge_clip_border.svg');
}

.clipmask::before {
    content: '';
    display: inline-block;
    width: 100%;
    padding-top: 100%;
}


.get_character {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 64%;
    left: 50%;
    width: 92%;
}

.badgeTitle,
.clipmask {
    margin: 0 auto;
}

.badgeTitle {
    display: inline-block;
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%); */
    bottom: 0;
    padding: 8px 16px;
    font-size: 24px;
    background: #0e0e0e;
    color: #fefefe;
}

.badgeTitle .changeText {
    text-align: center;
    line-height: 1.5;
}

.badgeTitleAfterLine {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    background: #fefefe;
    width: 3px;
    height: calc(24px + (8px * 1));
    transition-duration: .0s;
    transition-timing-function: .0s;
}

.badgeTitleAfterLine.animate {
    animation: badgeTitleAfterLine_flash 1.0s normal infinite linear;
}

.lineWrapper {
    position: absolute;
    transform: translate(0%, 0%);
    top: 0%;
    left: 0%;
    width: 100%;
    -webkit-animation: backgroundAnimation 24s infinite linear;
    animation: backgroundAnimation 24s infinite linear;
    background-image: url(./../img/radiation01.svg);
    background-size: cover;
}


.lineWrapper._gratz {
    background-image: url(./../img/radiation02.svg);
    -webkit-animation: backgroundAnimation 32s infinite linear;
    animation: backgroundAnimation 32s infinite;
}

@keyframes badgeTitleAfterLine_flash {

    0%,
    49% {
        opacity: 0;
    }

    50%,
    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes backgroundAnimation {
    from {
        -webkit-transform: rotate(0) translate(-50%, -50%);
        transform: rotate(0) translate(-50%, -50%);
    }

    to {
        -webkit-transform: rotate(360deg) translate(-50%, -50%);
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

@keyframes backgroundAnimation {
    from {
        -webkit-transform: rotate(0) translate(-50%, -50%);
        transform: rotate(0) translate(-50%, -50%);
    }

    to {
        -webkit-transform: rotate(360deg) translate(-50%, -50%);
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

.badgeAnimWrapper {
    z-index: 100;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: var(--delayShort);
}

.lineWrapper {
    z-index: 10;
    transform: rotate(0deg) translate(-50%, -50%);
    transform-origin: 0% 0%;
    top: 44%;
    left: 50%;
    width: 300%;
    background-color: var(--white);
    transition: var(--delayMedium);
}

.lineWrapper::after {
    content: "";
    display: block;
    padding-top: 100%;
}


.clipmaskPath {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    font-size: 100px;
    color: var(--gradColor01);
    pointer-events: none;
}

#badgeGetWrapper {
    z-index: 100;
    z-index: 1;
    position: absolute;
    bottom: calc(var(--mfh) + .0rem);
    right: calc(var(--mfw) - var(--mbw) + .0rem);
    transition: var(--delayMedium);
}

#badgeGetWrapper._off {
    transform: translateY(100%);
    /* opacity: .0; */
    bottom: calc(var(--mfw) + var(--mbw));
}

#badgeGetWrapper h3 {
    position: absolute;
    transform: translateY(-100%);
    top: var(--mbw);
    right: 0;
    background: rgba(255, 255, 255, 1.0);
    border: solid var(--mbw) var(--black);
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding: .4rem 1.2rem;
    width: 20rem;
}

#badgeGetWrapper h3::before {
    content: '';
    background-image: url(./../img/logo/logo_text_find.svg);
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 100%;
    padding-top: 16%;
}

.badgeGetHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 1.5);
    border: solid var(--mbw) var(--black);
    width: 36rem;
    padding: 4px 8px;
    transition: var(--delayShort);
}

.badgeGetCharacter {
    width: 6.4rem;
}

.badgeGetCharacter .clipmask::after {
    background-color: rgba(0, 0, 0, .88);
    top: 51%;
    left: 50%;
    transition: var(--delayShort);
}

.badgeGetCharacter.animate .clipmask {
    animation: animBadgeGetRotate 1.0s linear 1;
}

.badgeGetCharacter.animate .clipmask::after {
    background-color: unset;
}

@keyframes animBadgeGetRotate {

    0%,
    40% {
        transform: rotateY(180deg);
    }

    20%,
    60%,
    100% {
        transform: rotateY(0deg);
    }
}

.badgeWrapper._01 .clipmask,
.badgeGetCharacter._01 .clipmask {
    background-color: #ffee33;
}

.badgeWrapper._02 .clipmask,
.badgeGetCharacter._02 .clipmask {
    background-color: #c274ba;
}

.badgeWrapper._03 .clipmask,
.badgeGetCharacter._03 .clipmask {
    background-color: #d1de4c;
}

.badgeWrapper._04 .clipmask,
.badgeGetCharacter._04 .clipmask {
    background-color: #747cc2;
}

.badgeWrapper._05 .clipmask,
.badgeGetCharacter._05 .clipmask {
    background-color: #74c2ab;
}

#mainBadge .badgeGetCharacter {
    width: 300px;
}