#navWrapper {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .2s;
}

#navWrapper.active {
    z-index: 2;
}

#navWrapper .popover {
    z-index: 1;
}

#navBtn {
    cursor: pointer;
    z-index: 10;
    position: fixed;
    display: inline-block;
    top: calc(var(--mfh) + 2.4rem);
    right: calc(var(--mfw) + 2.4rem);
    top: calc(var(--mfh) + 0.0rem);
    right: calc(var(--mfw) - (.5rem / 2));
    padding: 2.4rem;
    width: 3.2rem;
    height: 2.8rem;
    background: rgba(255, 255, 255, 0.8);
    border: solid var(--mbw) var(--black);
    transition: var(--delayShort);
}

#navBtnBarWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#navBtn .navBtnBar {
    position: absolute;
    width: 100%;
    height: 0.3rem;
    border-radius: 0.1rem;
    background-color: var(--black);
    left: 50%;
    transform: translate(-50%, 0%);
    transition: var(--delayShort);
}

#navBtn .navBtnBar._01 {
    top: 0;
}

#navBtn .navBtnBar._02 {
    top: calc(50% - ((0.4rem) / 2));
}

#navBtn .navBtnBar._03 {
    bottom: 0;
}

#navBtn.active {
    background: rgba(0, 0, 0, 0.0);
    border: solid var(--mbw) var(--white);
}

#navBtn.active .navBtnBar {
    background-color: var(--white);
}

#navBtn.active .navBtnBar._01 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(40deg);
}

#navBtn.active .navBtnBar._02 {
    opacity: .0;
    width: 72%;
}

#navBtn.active .navBtnBar._03 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-40deg);
}

#navContent {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 64.0rem;
    height: 0rem;
    transform: translate(100%, 0);
    border-bottom: 1.6rem solid var(--black);
    border-left: 5.6rem solid transparent;
    transition: var(--delayShort);
}

#navWrapper.active #navContent {
    transform: translate(0, 0);
    transition: var(--delayShort);
}

#navContent .contentWrap {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: calc(100% - (8.0rem + 2.4rem + (4.4rem * 2)));
    height: 100%;
    padding: 4.8rem;
    /* background: #fefefe; */
    color: var(--white);
}

#navContent .contentWrap h2 {
    border-bottom: solid var(--mbw) var(--white);
    padding-bottom: 2.0rem;
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    width: 100%;
}


#navContent .contentWrap h2 span {
    display: inline-block;
    width: 56%;
}

#navContent .contentWrap h2 span::before {
    content: '';
    background-image: url(./../img/logo/logo_contents_mikke_w.svg);
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 100%;
    padding-top: 18%;
}

#navContent .contentWrap p {
    margin-top: .8rem;
    font-weight: 100;
    line-height: 2.0;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
}